[user]
	email = dawidowoc6@gmail.com
	name = Dawid Owoc

[alias]
	s = status
	c = commit
	st = stash
	a = add
	d = diff
	r = rebase
	p = push
	co = checkout
	fup = "!f() { git commit --fixup=HEAD && git rebase --autosquash HEAD~2; }; f"
[core]
	editor = vim
